<component name="libraryTable">
  <library name="SpringBoot-PropertiesArgs-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/SpringBoot-02-运维应用/SpringBoot-02-临时属性/SpringBoot-PropertiesArgs/target/SpringBoot-PropertiesArgs-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>